:root{
  --gray: #eeeeee;
}
.btn-outlined {
  @apply border-2 p-2 rounded-md text-center m-2 transition-colors hover:bg-back-dark
}
.btn-secondary {
  @apply bg-secondary p-2 rounded-md text-white text-center m-2 transition-colors hover:bg-secondary-dark
}
.btn-secondary-outlined {
  @apply border-2 border-secondary p-2 rounded-md text-center m-2 transition-colors hover:bg-back-dark
}
.btn-third {
  @apply bg-third p-2 rounded-md text-white text-center m-2 transition-colors hover:bg-alert
}
.btn-fourth {
  @apply bg-fourth p-2 rounded-md text-white text-center m-2 transition-colors hover:bg-success
}
.input-text {
  @apply border-2 rounded-xl border-stroke focus:border-success px-2 outline-none focus:outline-none
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
